    </div><!-- main_container -->
    <div id="footer">Instant Markdown is <a style="text-decoration: underline" href="http://github.com/jhs/instantmarkdown">Free Software</a> &copy; 2010 Jason Smith | Design By <a href="http://www.zilladesigns.net">Jeremy D.</a> </div>
  </body>
  {{#zeroclipboard}}
    <script type="text/javascript" src="/zeroclipboard/ZeroClipboard.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        ZeroClipboard.setMoviePath('/zeroclipboard/ZeroClipboard10.swf');
        var clip = new ZeroClipboard.Client();
        clip.setText($('#raw_html').html());
        $('#d_clip_container').css('display', 'block');
        clip.glue('d_clip_button', 'd_clip_container');
        clip.addEventListener('onMouseDown', function() {
          $('#copy_text').html('Copied');
        })
      })
    </script>
  {{/zeroclipboard}}
</html>
