<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Instant Markdown</title>

    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/style/style.css" type="text/css" media="screen, projection"/>
    <link rel="stylesheet" href="/style/main.css" type="text/css" media="screen, projection"/>

    <!--[if lt IE 8]>
      <link rel="stylesheet" href="http://www.couch.io/stylesheets/ie.css" type="text/css" media="screen, projection" />
    <![endif]-->
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="http://www.couch.io/favicon.ico" />
  </head>
  <body>
    <div id="main_container">
