{{>header}}

      <div id="header">
        <h1>Instant Markdown</h1>
      </div>

      <div id="navigation">
        <a href="/">Home</a>
        |
        <a href="/about">About</a>
        |
        <a href="/api">API</a>
      </div>

      <div id="content">
        {{#home}}
          {{#result}}
            <div class="result">
              <h2>The Result</h2>
              <pre><code>{{html}}</code></pre>
            </div>
          {{/result}}

          <p>
            Input some <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>:
          </p>
          <form method="POST">
            <textarea name="markdown" id="markdown"></textarea>
            <br>
            <input type="submit" value="Render"/>
          </form>
        {{/home}}

        {{#about}}
          <h2>A Challenge</h2>
          <p>This site runs on <a href="http://www.couch.io/get">Free CouchDB Hosting</a> from Couchio.</p>
          <p>CouchDB is (simultaneously)</p>
          <ul>
            <li>A web server</li>
            <li>An application server</li>
            <li>A database</li>
            <li>Fun</li>
          </ul>
          <p>
            This was built in a few minutes using server-side Javascript. What could be simpler?
          </p>
        {{/about}}
      </div>

{{>footer}}
