{{>header}}

      <div id="header">
        <h1>Instant Markdown</h1>
      </div>

      <div id="navigation"><a href="#">Home</a> <a href="#">Clock</a> <a href="#">Time</a> <a href="#">Simple</a> <a href="#">Links</a> <a href="#">Contact</a> </div>

      <div id="content">
        <form method="POST">
          <textarea name="markdown" id="markdown"></textarea>
          <br>
          <input type="submit" value="Convert"/>
        </form>
        <h2>Lorem Ipsum </h2>
        <p>Before you dive deep into lorem ipsum, please note that if you have any issues with this design (be it coding issues, an unresolved hatred, whatever) open up the <a href="readme.txt">readme.txt</a> file included with this design to find out how to contact me. </p>
        <p>This design is open source, so feel free to edit it as you wish, but you must keep &quot;design by jeremy d&quot; at the bottom. </p>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed id felis sit amet dolor sollicitudin gravida. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce in quam. Pellentesque vel eros eu sapien auctor vehicula. Ut bibendum urna. Sed scelerisque augue eu tellus. Cras nibh mauris, porttitor a, nonummy tempus, hendrerit eu, leo. In ut urna feugiat nisl fermentum dictum. Aliquam quis lacus vel enim elementum lacinia. Sed nisi erat, fermentum at, dictum quis, ullamcorper at, dui. Phasellus ante mi, auctor sed, molestie eu, rutrum eu, augue. Phasellus at orci. Maecenas ut velit. Donec posuere odio nec sem. Praesent leo neque, varius sit amet, vulputate id, lobortis sed, leo. Mauris luctus. Aliquam elementum, tellus et lobortis rhoncus, sem ipsum blandit pede, quis vulputate leo erat eu purus. Praesent sapien. Ut auctor, nibh non dapibus eleifend, justo ligula dignissim ligula, sed elementum purus magna quis elit.</p>
        <h2>Lorem Ipsum Strikes Back!</h2>
        <p>Lorem ipsum dolor sit amet, etiam eu magna. Aliquam vulputate tempor magna. Duis lobortis ultricies dolor. Sed eros. Curabitur porta facilisis est. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque sem neque, bibendum ut, pulvinar vitae, cursus eget, elit. Nam consequat. Sed posuere lectus tempus massa. Cras iaculis nonummy augue. Integer laoreet turpis at velit. Vivamus vehicula ligula et elit vulputate ullamcorper. Donec lacus.</p>
      </div>

{{>footer}}
