textarea#markdown {
  width: 95%;
  height: 25em;
  margin-left: 1em;
}

p {
  padding-left: 1em;
}

div.result div.code {
  margin: 0.5em 1em 0;
  background-color: #dfdfdf;
  /*
  border-left: 2px dotted black;
  border-bottom: 1px dotted black;
  border-top: 1px dotted black;
  */
}

#content a:visited,
#content a:link {
  text-decoration: underline;
}

#navigation a.active {
  font-weight: bold;
}

a.highlight:visited,
a.highlight:link {
  color: blue;
}

#content ul {
  margin: 0;
}

#footer {
  border-top: none;
}
